.el-input--small {
    width: 200px;
    height: 30px;
}

.el-button--small {
    margin-left: 24px;
    height: 30px;
}

.el-scrollbar__wrap {
    height: 100% !important;
}

.el-table__body-wrapper {
    height: 100% !important;
}